<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API How To</title>
    //- <link rel='stylesheet' href='styles.css' type='text/css'>
    style(type="text/css").
        body{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h2{
            color: blue;
        }
        table{
            border-collapse: collapse;
        }
        td{
            border: solid 2px blue;
            padding: 10px;
        }
        th{
            border: solid 2px blue;
            padding: 10px;
        }
</head>
<body>
    h2=titulo
    h3=aviso
    p=howto
    table
        th="Operation"
        th="API endpoint"
        each ruta in rutas
            tr 
                each val in ruta
                    td= val
</body>
</html>